<html>
<head>
	<title>Roodi Results</title>
	<style>
	<%= inline_css("default.css") %>	
	</style>
</head>

<body>
	<h1>Roodi Results</h1>
  <p><a href="http://roodi.rubyforge.org/">Roodi</a> parses your Ruby code and warns you about design issues you have based on the checks that is has configured.</p>
	<table>
		<tr>
		  <th>File Path</th>
		  <th>Warning</th>
		</tr>	  
		<% @matches.each_with_index do |match, count| %>
  		<tr class='<%= cycle("light", "dark", count) %>'>
  		  <td>
  		   <% if !ENV["CC_BUILD_ARTIFACTS"].nil? then %>
  		     <% line = match.first.to_s.split(':') %>
  		     <% filepath = "#{line[0]}?line=#{line[1]}##{line[1]}" %>
  		     <% project = RAILS_ROOT.split('/')[-2] %>
  		     <% if line[1]%>
  		       <%= "<a href=\"/projects/code/#{project}/#{filepath}\">#{match.first}<a/>" %>
  		     <% else %>
  		       <%= match.first %>
  		     <% end %>
  		   <% else %>
  		     <%= link_to_filename(*match.first.split(':')) if match.first %>
  		  <% end %>
  		  </td>
  		  <td><%= match[1] %></td>
  		</tr>
  		<% end %>
	</table>
	<p>Generated on <%= Time.now.localtime %></p>	
</body>
</html>